<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Prashant Palikhe"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="theme-color" content="#EA2663">

    <title>Angular drawer</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="./app.css" rel="stylesheet">
    <link href="./src/drawer.css" rel="stylesheet">
</head>
<body ng-cloak ng-controller="AppController as appVm">

    <header class="header">
        <button ng-click="appVm.isDrawerOpen = true" class="header__show-drawer material-icons">menu</button>
    </header>

    <drawer open="appVm.isDrawerOpen">
        <nav class="nav">
            <div class="nav-header">
                <button ng-click="appVm.isDrawerOpen = false" class="nav__hide-drawer material-icons">close</button>
            </div>
        </nav>
    </drawer>

    <script src="./angular.js"></script>
    <script src="./app.js"></script>
    <script src='./src/drawer.module.js'></script>
    <script src='./src/drawer.controller.js'></script>
    <script src='./src/drawer.component.js'></script>
</body>
</html>